/* CSS declarations go here */
#accounts-ui {
  margin-right: 10px;
}

#hints {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

#new-list {
  clear: both;
}

.task-list {
  width: 300px;
  float: left;
  margin-right: 20px;
  
  .name:hover {
    cursor: text;
    border-bottom: dashed 1px #999;
  }
}

ul.tasks {
  padding-left: 0px;
  
  li {
    list-style: none;
  }
}

.task {

  .text:hover {
    cursor: text;
  }
}
