/* CSS declarations go here */
#accounts-ui {
  margin-right: 10px;
}

#hints {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.task-list {
  width: 300px;
  float: left;
  margin-right: 20px;
  
  &.empty {
    text-align: center;
  }
}

ul.tasks {
  padding-left: 0px;
  
  li {
    list-style: none;
  }
}
